.svg-podium {
  width: 100%;
  height: 400px;
}

.cls-1,
.cls-137,
.cls-138,
.cls-139,
.cls-140,
.cls-141,
.cls-142,
.cls-143,
.cls-144,
.cls-145,
.cls-146,
.cls-147,
.cls-148,
.cls-149,
.cls-150,
.cls-151,
.cls-152,
.cls-153,
.cls-154,
.cls-155,
.cls-156,
.cls-157,
.cls-158,
.cls-159,
.cls-160,
.cls-161,
.cls-162,
.cls-163,
.cls-164,
.cls-165,
.cls-166,
.cls-167,
.cls-2 {
  fill: none;
}
.cls-1 {
  stroke: #fff;
  stroke-width: 0.93px;
}
.cls-3 {
  isolation: isolate;
}
.cls-4 {
  clip-path: url(#clip-path);
}
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-5,
.cls-7,
.cls-8,
.cls-86,
.cls-87,
.cls-88,
.cls-89,
.cls-9,
.cls-90,
.cls-91,
.cls-92 {
  opacity: 0.33;
}
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-168,
.cls-169,
.cls-171,
.cls-172,
.cls-173,
.cls-174,
.cls-175,
.cls-176,
.cls-177,
.cls-178,
.cls-5,
.cls-6,
.cls-7,
.cls-74,
.cls-75,
.cls-79,
.cls-8,
.cls-81,
.cls-82,
.cls-86,
.cls-87,
.cls-88,
.cls-89,
.cls-9,
.cls-90,
.cls-91,
.cls-92 {
  mix-blend-mode: multiply;
}
.cls-5 {
  fill: url(#Degradado_sin_nombre_95);
}
.cls-6,
.cls-75,
.cls-82 {
  opacity: 0.4;
}
.cls-7 {
  fill: url(#Degradado_sin_nombre_74);
}
.cls-8 {
  fill: url(#Degradado_sin_nombre_74-2);
}
.cls-9 {
  fill: url(#Degradado_sin_nombre_74-3);
}
.cls-10 {
  fill: url(#Degradado_sin_nombre_74-4);
}
.cls-11 {
  fill: url(#Degradado_sin_nombre_74-5);
}
.cls-12 {
  fill: url(#Degradado_sin_nombre_74-6);
}
.cls-13 {
  fill: url(#Degradado_sin_nombre_74-7);
}
.cls-14 {
  fill: url(#Degradado_sin_nombre_74-8);
}
.cls-15 {
  fill: url(#Degradado_sin_nombre_74-9);
}
.cls-16 {
  clip-path: url(#clip-path-2);
}
.cls-17 {
  clip-path: url(#clip-path-3);
}
.cls-18 {
  clip-path: url(#clip-path-4);
}
.cls-19 {
  clip-path: url(#clip-path-5);
}
.cls-20 {
  clip-path: url(#clip-path-6);
}
.cls-21 {
  clip-path: url(#clip-path-7);
}
.cls-22 {
  clip-path: url(#clip-path-8);
}
.cls-23 {
  clip-path: url(#clip-path-9);
}
.cls-24 {
  clip-path: url(#clip-path-10);
}
.cls-25 {
  clip-path: url(#clip-path-11);
}
.cls-26 {
  clip-path: url(#clip-path-12);
}
.cls-27 {
  clip-path: url(#clip-path-13);
}
.cls-28 {
  clip-path: url(#clip-path-14);
}
.cls-29 {
  clip-path: url(#clip-path-15);
}
.cls-30 {
  clip-path: url(#clip-path-16);
}
.cls-31 {
  clip-path: url(#clip-path-17);
}
.cls-32 {
  clip-path: url(#clip-path-18);
}
.cls-33 {
  clip-path: url(#clip-path-19);
}
.cls-34 {
  clip-path: url(#clip-path-20);
}
.cls-35 {
  clip-path: url(#clip-path-21);
}
.cls-36 {
  clip-path: url(#clip-path-22);
}
.cls-37 {
  clip-path: url(#clip-path-23);
}
.cls-38 {
  clip-path: url(#clip-path-24);
}
.cls-39 {
  clip-path: url(#clip-path-25);
}
.cls-40 {
  clip-path: url(#clip-path-26);
}
.cls-41 {
  clip-path: url(#clip-path-27);
}
.cls-42 {
  clip-path: url(#clip-path-28);
}
.cls-43 {
  clip-path: url(#clip-path-29);
}
.cls-44 {
  clip-path: url(#clip-path-30);
}
.cls-45 {
  clip-path: url(#clip-path-31);
}
.cls-46 {
  clip-path: url(#clip-path-32);
}
.cls-47 {
  clip-path: url(#clip-path-33);
}
.cls-48 {
  clip-path: url(#clip-path-34);
}
.cls-49 {
  clip-path: url(#clip-path-35);
}
.cls-50 {
  clip-path: url(#clip-path-36);
}
.cls-51 {
  clip-path: url(#clip-path-37);
}
.cls-52 {
  clip-path: url(#clip-path-38);
}
.cls-53 {
  clip-path: url(#clip-path-39);
}
.cls-54 {
  clip-path: url(#clip-path-40);
}
.cls-55 {
  clip-path: url(#clip-path-41);
}
.cls-56 {
  clip-path: url(#clip-path-42);
}
.cls-57 {
  clip-path: url(#clip-path-43);
}
.cls-58 {
  clip-path: url(#clip-path-44);
}
.cls-59 {
  clip-path: url(#clip-path-45);
}
.cls-60 {
  clip-path: url(#clip-path-46);
}
.cls-61 {
  clip-path: url(#clip-path-47);
}
.cls-62 {
  clip-path: url(#clip-path-48);
}
.cls-63 {
  clip-path: url(#clip-path-49);
}
.cls-64 {
  clip-path: url(#clip-path-50);
}
.cls-65 {
  clip-path: url(#clip-path-51);
}
.cls-66 {
  clip-path: url(#clip-path-52);
}
.cls-67 {
  clip-path: url(#clip-path-53);
}
.cls-68 {
  clip-path: url(#clip-path-54);
}
.cls-69 {
  clip-path: url(#clip-path-55);
}
.cls-70 {
  clip-path: url(#clip-path-56);
}
.cls-71 {
  clip-path: url(#clip-path-57);
}
.cls-72 {
  clip-path: url(#clip-path-58);
}
.cls-73 {
  clip-path: url(#clip-path-59);
}
.cls-74 {
  fill: url(#Degradado_sin_nombre_7);
}
.cls-75 {
  fill: url(#Degradado_sin_nombre_7-2);
}
.cls-76 {
  fill: url(#Degradado_sin_nombre_88);
}
.cls-77 {
  fill: url(#Degradado_sin_nombre_87);
}
.cls-78 {
  fill: url(#Degradado_sin_nombre_87-2);
}
.cls-79 {
  opacity: 0.5;
}
.cls-80 {
  fill: #fff;
}
.cls-81 {
  fill: url(#Degradado_sin_nombre_7-3);
}
.cls-82 {
  fill: url(#Degradado_sin_nombre_7-4);
}
.cls-83 {
  fill: url(#Degradado_sin_nombre_97);
}
.cls-84 {
  fill: url(#Degradado_sin_nombre_90);
}
.cls-85 {
  fill: url(#Degradado_sin_nombre_76);
}
.cls-86 {
  fill: url(#Degradado_sin_nombre_74-10);
}
.cls-87 {
  fill: url(#Degradado_sin_nombre_74-11);
}
.cls-88 {
  fill: url(#Degradado_sin_nombre_74-12);
}
.cls-89 {
  fill: url(#Degradado_sin_nombre_74-13);
}
.cls-90 {
  fill: url(#Degradado_sin_nombre_74-14);
}
.cls-91 {
  fill: url(#Degradado_sin_nombre_74-15);
}
.cls-92 {
  fill: url(#Degradado_sin_nombre_74-16);
}
.cls-93 {
  clip-path: url(#clip-path-60);
}
.cls-94 {
  clip-path: url(#clip-path-61);
}
.cls-95 {
  clip-path: url(#clip-path-62);
}
.cls-96 {
  clip-path: url(#clip-path-63);
}
.cls-97 {
  clip-path: url(#clip-path-64);
}
.cls-98 {
  clip-path: url(#clip-path-65);
}
.cls-99 {
  clip-path: url(#clip-path-66);
}
.cls-100 {
  clip-path: url(#clip-path-67);
}
.cls-101 {
  clip-path: url(#clip-path-68);
}
.cls-102 {
  clip-path: url(#clip-path-69);
}
.cls-103 {
  clip-path: url(#clip-path-70);
}
.cls-104 {
  clip-path: url(#clip-path-71);
}
.cls-105 {
  clip-path: url(#clip-path-72);
}
.cls-106 {
  clip-path: url(#clip-path-73);
}
.cls-107 {
  clip-path: url(#clip-path-74);
}
.cls-108 {
  clip-path: url(#clip-path-75);
}
.cls-109 {
  clip-path: url(#clip-path-76);
}
.cls-110 {
  clip-path: url(#clip-path-77);
}
.cls-111 {
  clip-path: url(#clip-path-78);
}
.cls-112 {
  clip-path: url(#clip-path-79);
}
.cls-113 {
  clip-path: url(#clip-path-80);
}
.cls-114 {
  clip-path: url(#clip-path-81);
}
.cls-115 {
  clip-path: url(#clip-path-82);
}
.cls-116 {
  clip-path: url(#clip-path-83);
}
.cls-117 {
  clip-path: url(#clip-path-84);
}
.cls-118 {
  clip-path: url(#clip-path-85);
}
.cls-119 {
  clip-path: url(#clip-path-86);
}
.cls-120 {
  clip-path: url(#clip-path-87);
}
.cls-121 {
  clip-path: url(#clip-path-88);
}
.cls-122 {
  clip-path: url(#clip-path-89);
}
.cls-123 {
  clip-path: url(#clip-path-90);
}
.cls-124 {
  clip-path: url(#clip-path-91);
}
.cls-125 {
  clip-path: url(#clip-path-92);
}
.cls-126 {
  clip-path: url(#clip-path-93);
}
.cls-127 {
  clip-path: url(#clip-path-94);
}
.cls-128 {
  clip-path: url(#clip-path-95);
}
.cls-129 {
  clip-path: url(#clip-path-96);
}
.cls-130 {
  clip-path: url(#clip-path-97);
}
.cls-131 {
  clip-path: url(#clip-path-98);
}
.cls-132 {
  clip-path: url(#clip-path-99);
}
.cls-133 {
  fill: url(#Degradado_sin_nombre_5);
}
.cls-134 {
  fill: url(#Degradado_sin_nombre_4);
}
.cls-135 {
  clip-path: url(#clip-path-100);
}
.cls-136 {
  fill: url(#Degradado_sin_nombre_3);
}
.cls-137,
.cls-138,
.cls-139,
.cls-140,
.cls-141,
.cls-142,
.cls-143,
.cls-144,
.cls-145,
.cls-146,
.cls-147,
.cls-148,
.cls-149,
.cls-150,
.cls-151,
.cls-152,
.cls-153,
.cls-154,
.cls-155,
.cls-156,
.cls-157,
.cls-158,
.cls-159,
.cls-160,
.cls-161,
.cls-162,
.cls-163,
.cls-164,
.cls-165,
.cls-166,
.cls-167 {
  stroke-miterlimit: 10;
  stroke-width: 0.26px;
}
.cls-137 {
  stroke: url(#Degradado_sin_nombre_70);
}
.cls-138 {
  stroke: url(#Degradado_sin_nombre_70-2);
}
.cls-139 {
  stroke: url(#Degradado_sin_nombre_70-3);
}
.cls-140 {
  stroke: url(#Degradado_sin_nombre_70-4);
}
.cls-141 {
  stroke: url(#Degradado_sin_nombre_70-5);
}
.cls-142 {
  stroke: url(#Degradado_sin_nombre_70-6);
}
.cls-143 {
  stroke: url(#Degradado_sin_nombre_70-7);
}
.cls-144 {
  stroke: url(#Degradado_sin_nombre_70-8);
}
.cls-145 {
  stroke: url(#Degradado_sin_nombre_70-9);
}
.cls-146 {
  stroke: url(#Degradado_sin_nombre_70-10);
}
.cls-147 {
  stroke: url(#Degradado_sin_nombre_70-11);
}
.cls-148 {
  stroke: url(#Degradado_sin_nombre_70-12);
}
.cls-149 {
  stroke: url(#Degradado_sin_nombre_70-13);
}
.cls-150 {
  stroke: url(#Degradado_sin_nombre_70-14);
}
.cls-151 {
  stroke: url(#Degradado_sin_nombre_70-15);
}
.cls-152 {
  stroke: url(#Degradado_sin_nombre_70-16);
}
.cls-153 {
  stroke: url(#Degradado_sin_nombre_70-17);
}
.cls-154 {
  stroke: url(#Degradado_sin_nombre_70-18);
}
.cls-155 {
  stroke: url(#Degradado_sin_nombre_70-19);
}
.cls-156 {
  stroke: url(#Degradado_sin_nombre_70-20);
}
.cls-157 {
  stroke: url(#Degradado_sin_nombre_70-21);
}
.cls-158 {
  stroke: url(#Degradado_sin_nombre_70-22);
}
.cls-159 {
  stroke: url(#Degradado_sin_nombre_70-23);
}
.cls-160 {
  stroke: url(#Degradado_sin_nombre_70-24);
}
.cls-161 {
  stroke: url(#Degradado_sin_nombre_70-25);
}
.cls-162 {
  stroke: url(#Degradado_sin_nombre_70-26);
}
.cls-163 {
  stroke: url(#Degradado_sin_nombre_70-27);
}
.cls-164 {
  stroke: url(#Degradado_sin_nombre_70-28);
}
.cls-165 {
  stroke: url(#Degradado_sin_nombre_70-29);
}
.cls-166 {
  stroke: url(#Degradado_sin_nombre_70-30);
}
.cls-167 {
  stroke: url(#Degradado_sin_nombre_70-31);
}
.cls-168 {
  fill: url(#Degradado_sin_nombre_14);
}
.cls-169 {
  fill: url(#Degradado_sin_nombre_10);
}
.cls-170 {
  mask: url(#mask);
}
.cls-171 {
  fill: url(#Degradado_sin_nombre_14-2);
}
.cls-172 {
  fill: url(#Degradado_sin_nombre_2);
}
.cls-173,
.cls-174,
.cls-175,
.cls-176,
.cls-178 {
  opacity: 0.82;
}
.cls-173 {
  fill: url(#Degradado_sin_nombre_8);
}
.cls-174 {
  fill: url(#Degradado_sin_nombre_8-2);
}
.cls-175 {
  fill: url(#Degradado_sin_nombre_8-3);
}
.cls-176 {
  fill: url(#Degradado_sin_nombre_8-4);
}
.cls-177 {
  opacity: 0.25;
  fill: url(#Degradado_sin_nombre_82);
}
.cls-178 {
  fill: url(#Degradado_sin_nombre_11);
}

#bigCircle {
  /* transform: rotate(90deg); */
  transform-origin: left;
  transform-box: fill-box;
  animation: animateBigCircle 5s linear infinite;
}
#boule {
  animation: animateBall 1s linear infinite;
}
#backCicrcle {
  animation: backCircle 8s linear infinite;
}
#circle1 {
}
@keyframes animateBigCircle {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(20px, 0px);
    /* transform: rotate(90deg); */
  }
  30% {
    transform: translate(40px, 0px);

    /* transform: rotate(0deg); */
  }
  40% {
    transform: translate(60px, 0px);

    /* transform: rotate(90deg); */
  }
  70% {
    transform: translate(40px, 0px);

    /* transform: rotate(0deg); */
  }
  80% {
    transform: translate(20px, 0px);

    /* transform: rotate(90deg); */
  }
  90% {
    /* transform: rotate(0deg); */
  }
  100% {
    transform: translate(0, 0);

    /* transform: rotate(90deg); */
  }
}
@keyframes animateBall {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes backCircle {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-20px, 0px);
    /* transform: rotate(90deg); */
  }
  30% {
    transform: translate(-40px, 0px);

    /* transform: rotate(0deg); */
  }
  40% {
    transform: translate(-60px, 0px);

    /* transform: rotate(90deg); */
  }
  70% {
    transform: translate(-40px, 0px);

    /* transform: rotate(0deg); */
  }
  80% {
    transform: translate(-20px, 0px);

    /* transform: rotate(90deg); */
  }
  90% {
    /* transform: rotate(0deg); */
  }
  100% {
    transform: translate(0, 0);

    /* transform: rotate(90deg); */
  }
}
