/* navigation  */
a {
  outline: 0 !important;
}
.navigation-wrapper {
  width: 100%;
  height: 50px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(204, 204, 204, 0.603);
  font-family: var(--font-familly);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s;
  z-index: 999;
  /* padding: 10px 10px; */
}
.navigation-wrapper.scrolling {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.navigation-secondary-container {
  width: 99%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 70px;
  outline: 0 !important;
  /* padding-right: 65px; */
}
.logo-brand-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.logo-brand-wrapper img {
  width: 40px;
  height: 40px;
}
.logo-brand-wrapper span {
  font-size: 20px;
  color: var(--primary-color);
  margin: 0 10px;
  font-weight: 500;
}
.links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  cursor: pointer;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ecf3;
  padding: 6px 15px;
  border-radius: 5px;
  transition: all 0.3s;
  margin: 0 20px;
  position: relative;
}
.input-wrapper input[type="text"] {
  background-color: transparent;
  border: none;
  margin: 0 15px;
  width: 180px;
  color: var(--primary-color);
  /* font-weight: 800; */
  transition: all 0.3s;
  font-size: 16px;
  float: right;
  right: 0;
  font-family: var(--font-familly);
}
.input-wrapper:focus-within {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.search-icon {
  color: var(--primary-color);
  font-weight: 700;
  margin-left: 10px;
}
.login-links-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.login-links-main-wrapper.toggled {
  border-radius: 30px;
}
.login-links-btn {
  display: flex;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
}
.login-links-main-wrapper.toggled .login-links-btn {
  -moz-box-shadow: inset 0 0 7px #00a650a2;
  -webkit-box-shadow: inset 0 0 7px #00a650a2;
  box-shadow: inset 0 0 7px #00a650a2;
}
.login-links-btn .login-link-profile-img {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.login-links-btn .login-link-profile-img img {
  width: 100%;
  height: 100%;
}
.nav-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-links-name {
  margin-left: 6px;
}
.login-links-name span {
  font-size: 14px;
  font-weight: 400;
}
.login-btn {
  padding: 5px 20px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  margin-right: 5px;
  text-align: center;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}
.login-with0 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.login-with-google-btn {
  width: 60%;
  border: 2px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}
.drop-down-links.profile {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  overflow: hidden;
  display: none;
}
.drop-down-links.profile li {
  margin: 0;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #e8ecf3;
}

.drop-down-links.profile li:first-child {
  border-top: 1px solid #e8ecf3;
}
.drop-down-links.profile li a {
  color: var(--dark);
  display: flex;
}
.drop-down-links.profile li a span {
  color: var(--dark);
}
.drop-down-links.profile li:nth-child(3) {
  padding-top: 20px;
  border-bottom: none;
}
.login-links-icon {
  font-size: 16px;
}
.drop-down-links.profile.toggled {
  animation: animateLinks 1s linear;
  display: flex;
}
@keyframes animateLinks {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}
.check-icon-wrapper.profile {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-google-icon {
  font-size: 20px;
  margin-right: 10px;
}
.sign-up-btn {
  padding: 6px 20px;
  border-radius: 3px;
  background-color: var(--primary-color);
  margin-right: 10px;
  text-align: center;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
}

.links-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-wrapper ul li {
  list-style: none;
  padding: 0 20px;
}
.links-wrapper ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
.links-wrapper ul li a span {
  display: none;
}
.link-icon {
  font-size: 25px;
  color: var(--primary-color);
}

@media (max-width: 1024px) {
  .navigation-secondary-container {
    width: 99%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
  }
}
@media (max-width: 990px) {
  .navigation-secondary-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
  }
  .logo-brand-wrapper img {
    width: 35px;
    height: 35px;
  }
  .logo-brand-wrapper span {
    font-size: 18px;
    color: var(--primary-color);
    margin: 0 10px;
    white-space: nowrap;
  }
  .login-btn {
    padding: 3px 8px;
    white-space: nowrap;
  }
  .sign-up-btn {
    padding: 4px 8px;
    border-radius: 3px;
    white-space: nowrap;
  }
  .input-wrapper {
    padding: 4px 15px;
    margin: 0 15px;
  }
}

@media (max-width: 800px) {
  .navigation-wrapper {
    width: 260px !important;
    position: fixed;
    height: 100%;
    flex-direction: column !important;
    width: 300px;
    height: 100%;
    justify-content: flex-start;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
    transform: translateX(-100vw);
  }
  .login-links-main-wrapper {
    width: 100%;
    margin-top: 10px;
  }
  .login-links-btn {
    padding: 5px 10px;
    width: 85%;
  }

  .input-wrapper {
    width: 180px;
    height: 25px;
    transition: none;
  }
  .input-wrapper input[type="text"] {
  }
  .navigation-wrapper .navigation-secondary-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .drop-down-links.profile li {
    margin: 0;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #e8ecf3;
  }

  .drop-down-links.profile li:nth-child(3) {
    padding-top: 10px;
    border-bottom: none;
  }
  .login-links-icon {
    font-size: 14px;
  }
  .navigation-wrapper.toggled {
    display: flex;
    transform: translateX(0vw);
  }

  .logo-brand-wrapper {
    margin-top: 320px;
  }
  .links-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .links-wrapper ul {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .links-wrapper ul li {
    padding-left: 0px;
    width: 100%;
  }
  .drop-down-links.profile li {
    padding: 5px 0;
  }
  .links-wrapper ul li a {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .links-wrapper ul li a span {
    display: inline;
  }
  .links-wrapper ul li a:first-child {
    margin-bottom: 15px;
    margin-left: 0px;
  }
  .link-icon {
    display: none;
  }
  .nav-buttons-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
  }
  .input-wrapper {
    margin-bottom: 10px;
  }
  .input-wrapper:focus-within {
    width: 178px !important;
    height: 23px !important;
  }
  .login-btn {
    background: transparent;
    border: none;
    margin: 10px 0;
  }
  .sign-up-btn {
    background: transparent;
    border: none;
    color: var(--primary-color);
  }
  .back-shed-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--modal-backgroud);
    z-index: 9999;
  }
}

@media (max-width: 480px) {
  .navigation-wrapper {
    /* width: 300px !important;
    position: fixed;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
    transform: translateX(-100vw); */
  }
}
/* end navigation  */
.navigation-wrapper.about {
  display: none !important;
}
.navigation-wrapper.scrolling {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) !important;
}
